@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarPooling.Web.ViewModels.Settings.RideViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "AddRide";
    IEnumerable<CarPooling.Web.ViewModels.Settings.CarInformationViewModel> cars = ViewData["List"] as IEnumerable<CarPooling.Web.ViewModels.Settings.CarInformationViewModel>;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<body>
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="page-sub-title textcenter">
                        <h2>Add new ride</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->
                </div><!-- end .col-lg-12 -->
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="page-content add-new-ride">
                        <form action="@Url.Action("AddRide", "Ride")" novalidate autocomplete="off" class="idealforms add-ride" method="post">
                            <div class="field">
                                <input asp-for="SourceLocation" type="search" id="sourceSearch" placeholder="From?" />
                            </div>
                            <div class="field">
                                <input asp-for="DestinationLocation" type="search" id="destinationSearch" placeholder="Where?" />
                            </div>
                            <div class="field">
                                <input asp-for="TravelStartDateTime" name="event" type="text" placeholder="Date" class="datepicker">
                            </div>
                            <div class="field">
                                <select asp-for="Seats" id="seats" name="Seats">
                                    <option value="default">Number of seats</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="field">
                                <select asp-for="CarId" id="carSelect" name="CarId">
                                    @foreach (var c in cars)
                                    {
                                        <option value="@c.Id">@c.Number, @c.Model, @c.Color</option>
                                    }
                                </select>
                            </div>
                            <div>
                                <input asp-for="SourceLocationLat" type="hidden" id="sourceLatitude" name="SourceLocationLat" />
                                <input asp-for="SourceLocationLng" type="hidden" id="sourceLongitude" name="SourceLocationLng" />
                                <input asp-for="DestinatinLocationLat" type="hidden" id="destinationLatitude" name="DestinationLocationLat"/>
                                <input asp-for="DestinationLocationLng" type="hidden" id="destinationLongitude" name="DestinationLocationLng" />
                            </div>
                            <div class="field buttons">
                                <button type="submit" class="btn btn-lg green-color">Submit</button>
                            </div>
                        </form>
                    </div><!-- end .page-content -->
                </div><!-- end .col-sm-12 -->
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div id="map"></div>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- end .main-content -->
    <script type="text/javascript" src="~/scripts/map.js"></script>
</body>
