@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Paputka";
    IEnumerable<CarPooling.Web.ViewModels.SelectRideViewModel> rides = ViewData["List"] as IEnumerable<CarPooling.Web.ViewModels.SelectRideViewModel>;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<body>
    <header class="header">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="search-content">
                <form action="" novalidate autocomplete="off" class="idealforms searchtours">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="field">
                                <select id="destination" name="destination">
                                    <option value="default">From</option>
                                    <option>Sofia</option>
                                    <option>Plovdiv</option>
                                    <option>Hamburg</option>
                                    <option>Milano</option>
                                    <option>Paris</option>
                                    <option>Madrid</option>
                                    <option>Berlin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="field">
                                <select id="destination" name="destination">
                                    <option value="default">To</option>
                                    <option>Sofia</option>
                                    <option>Plovdiv</option>
                                    <option>Hamburg</option>
                                    <option>Milano</option>
                                    <option>Paris</option>
                                    <option>Madrid</option>
                                    <option>Berlin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="field">
                                <input name="event" type="text" placeholder="Date" class="datepicker">
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="field">
                                <select id="destination" name="destination">
                                    <option value="default">Number of seats</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="field buttons">
                                <button type="submit" class="btn btn-lg green-color">Search</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div><!-- end .search-content -->
        </div><!-- end .col-sm-12 -->
    </header><!-- end .header -->
    <section class="main-content">
       <table>
           <tr>
               <th>Source</th>
               <th>Destination</th>
               <th>Start</th>
               <th>Price</th>
               <th>Seats</th>
               <th>UserName</th>
           </tr>
           @if(rides != null)
           {
               @foreach(var r in rides)
               {
                   <tr>
                       <th>@r.Source</th>
                       <th>@r.Destination</th>
                       <th>@r.StartDatetime</th>
                       <th>@r.Price</th>
                       <th>@r.Seats</th>
                       <th>@r.UserName</th>
                   </tr>

               }

           }
       </table>
    </section><!-- end .main-content -->

</body>
