@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CarPooling.DTO.SelectedRidesWithDistanceDTO>
@{
        int? number = ViewData["Count"] as int?;
         int tpages = (int)(number - 1) / 10;
}
@foreach (var m in Model)
{
    <article class="ride-box clearfix row">
        <div class="ride-content">
            <h3><a class="changeToDefault">From @m.Source to @m.Destination</a></h3> ride by <a href="#" class="changeToClick">@m.Username</a>
        </div>
        <ul class="ride-meta">
            <li class="ride-date">
                <a class="changeToDefault">
                    <i class="fa fa-calendar"></i>
                    @m.TravelStartDateTime
                </a>
            </li>
            <li class="ride-people">
                <a class="changeToDefault">
                    <i class="fa fa-user"></i>
                    @m.Seats
                </a>
            </li>
            <li>
                <a class="changeToDefault">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    @m.Price
                </a>
            </li>
            <li>
                <a class="changeToDefault">
                    <i class="fa fa-road" aria-hidden="true"></i>
                    @String.Format("{0:0.0}", m.DistanceFromSource) km
                </a>
            </li>
            <li>
                <a class="changeToDefault">
                    <i class="fa fa-road" aria-hidden="true"></i>
                    @String.Format("{0:0.0}", m.DistanceFromDestination) km
                </a>
            </li>
            <li>
                <a id="read-more @m.Id" class="changeToClick">
                    <i class="fa fa-file"></i>
                    Read more
                </a>
            </li>
        </ul>
    </article>
}
<ul class="pagination">
    @for (int i = 1; i <= tpages + 1; i++)
    {
        <li><a class="myPage changeToClick">@i</a></li>
    }
</ul>
<script type="text/javascript" src="~/scripts/MoreInformation.js"></script>
<script type="text/javascript" src="~/scripts/Subscribe.js"></script>
<script type="text/javascript" src="~/scripts/Pagination.js"></script>
<script>
    $('.changeToClick').css('cursor', 'pointer');
    $('.changeToDefault').css('cursor', 'default');
</script>