@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarPooling.DTO.RideDTO
@{
    Layout = "_Layout";
    ViewBag.Title = "AddRide";
    IEnumerable<CarPooling.DTO.CarInformationDTO> cars = ViewData["List"] as IEnumerable<CarPooling.DTO.CarInformationDTO>;
}
<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<body>
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="page-sub-title textcenter">
                        <h2>Add new ride</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->
                </div><!-- end .col-lg-12 -->
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="page-content add-new-ride">
                        <form action="@Url.Action("Index", "AddRide")" novalidate autocomplete="off" class="idealforms add-ride" method="post">
                            <div class="field">
                                <input type="search" id="sourceSearch" placeholder="From?" name="SourceLocation" />
                                <input asp-for="SourceLocationLat" />
                                <span asp-validation-for="SourceLocationLat" class="text-danger"></span>
                                <input asp-for="SourceLocationLng" />
                                <span asp-validation-for="SourceLocationLng" class="text-danger"></span>
                                <input asp-for="SourceCity" />
                                <span asp-validation-for="SourceCity" class="text-danger"></span>
                                <input asp-for="SourceStreet" />
                                <span asp-validation-for="SourceStreet" class="text-danger"></span>
                                <input asp-for="SourceState" />
                                <span asp-validation-for="SourceState" class="text-danger"></span>
                            </div>
                            <div class="field">
                                <input type="search" id="destinationSearch" placeholder="Where?" name="DestinationLocation" />
                                <input asp-for="DestinationLocationLat" />
                                <span asp-validation-for="DestinationLocationLat" class="text-danger"></span>
                                <input asp-for="DestinationLocationLng" />
                                <span asp-validation-for="DestinationLocationLng" class="text-danger"></span>
                                <input asp-for="DestinationCity" />
                                <span asp-validation-for="DestinationCity" class="text-danger"></span>
                                <input asp-for="DestinationStreet" />
                                <span asp-validation-for="DestinationStreet" class="text-danger"></span>
                                <input asp-for="DestinationState" />
                                <span asp-validation-for="DestinationState" class="text-danger"></span>
                            </div>
                            <div class="field">
                                <input asp-for="TravelStartDate">
                                <span asp-validation-for="TravelStartDate" class="text-danger"></span>
                            </div>
                            <div class="field">
                                <select asp-for="Seats" id="seats" name="Seats">
                                    <option value="" disabled selected hidden>Number of seats</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <span asp-validation-for="Seats" class="text-danger"></span>
                            </div>
                            <div class="field">
                                <select asp-for="CarId" id="carSelect" name="CarId">
                                    @foreach (var c in cars)
                                    {
                                        <option value="@c.Id">@c.Number, @c.Model, @c.Color</option>
                                    }
                                </select>
                                <span asp-validation-for="CarId" class="text-danger"></span>
                            </div>
                            <div class="field">
                                <input asp-for="Price" placeholder="Price" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="full-fild">
                                <textarea asp-for="Description" cols="5" placeholder="Description" rows="4"></textarea>
                            </div>
                            <div class="field buttons">
                                <button type="submit" class="btn btn-lg green-color">Submit</button>
                            </div>
                        </form>
                    </div><!-- end .page-content -->
                </div><!-- end .col-sm-12 -->
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div id="map"></div>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- end .main-content -->
    <script type="text/javascript" src="~/scripts/map.js"></script>
</body>
