@model List<CarPooling.DTO.EnroledRideDTO>
@{
    int? number = ViewData["Count"] as int?;
    int tpages = (int)number / 10;
}
@foreach (var ride in Model)
{
    <tr>
        <td>@ride.From</td>
        <td>@ride.Where</td>
        <td>@ride.Date</td>
        <td>
            <ul>
                @foreach (var p in ride.PassengersName)
                {
                    <li><a id="profile changeToClick">@p</a></li>
                }
            </ul>
        </td>
        <td>@ride.Price</td>
        <td><a id="profile changeToClick">@ride.Rider</a></td>
        @if (ride.RatingId == 0)
        {
            <td><button class="btn btn-primary" value="@ride.RideId" id="RateRide">Rate IT</button></td>
        }
        else
        {
            <td><button class="btn btn-success" value="@ride.RatingId" id="EditRating @ride.RatingId">Edit IT</button></td>
        }
    </tr>
}
<tr>
    <td colspan="5" style="border:hidden">
        <ul class="pagination">
            @for (int i = 1; i <= tpages + 1; i++)
            {
                <li><a class="myPage changeToClick">@i</a></li>
            }
        </ul>
    </td>
</tr>
<script>
    $('.changeToClick').css('cursor', 'pointer');
    $('.changeToDefault').css('cursor', 'default');
</script>
<script src="~/scripts/Pagination.js"></script>
<script src="~/scripts/RateRide.js"></script>
<script src="~/scripts/Profile.js"></script>