@model List<CarPooling.DTO.OfferedRideDTO>
@{
    int? number = ViewData["Count"] as int?;
    int tpages = (int)number / 10;
}

@foreach (var ride in Model)
{
    <tr>
        <td>@ride.From</td>
        <td>@ride.Where</td>
        <td>@ride.Date</td>
        <td>
            <ul>
                @foreach (var p in ride.PassengersName)
                {
                    <li><a href="#">@p</a></li>
                }
            </ul>
        </td>
        <td>@ride.Price</td>
    </tr>
}
<tr>
    <td colspan="5" style="border:hidden">
        <ul class="pagination">
            @for (int i = 1; i <= tpages + 1; i++)
            {
                <li><a class="myPage changeToClick">@i</a></li>
            }
        </ul>
    </td>
</tr>
<script>
    $('.changeToClick').css('cursor', 'pointer');
    $('.changeToDefault').css('cursor', 'default');
</script>
<script src="~/scripts/Pagination.js"></script>