@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Forms -->
    <link href="~/css/jquery.idealforms.css" rel="stylesheet">
    <!-- Select  -->
    <link href="~/css/jquery.idealselect.css" rel="stylesheet">
    <!-- Slicknav  -->
    <link href="~/css/slicknav.css" rel="stylesheet">
    <!-- Main style -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Modernizr -->
    <script src="~/scripts/modernizr.js"></script>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/map.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1/leaflet.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3.31/algoliasearchLite.min.js"></script>
</head>
<body>
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary(false)
        </div>
    }
    <div>
        <header class="header">
            <div class="top-menu">
                <section class="container">
                    <div class="row">
                        @if (User.Identity.IsAuthenticated)
                        {
                            {
                                <div class="navbar-left ">
                                    <ul class="nav navbar-nav">

                                        <!-- User Account -->
                                        <li class="dropdown user-menu">
                                            <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                                <img src="~/img/avatar-2.jpg" class="user-image" alt="User Image" />

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <!-- User image -->
                                                <li class="dropdown-header">
                                                    <img src="~/img/avatar-2.jpg" class="img-circle" alt="User Image" />
                                                    <div class="d-inline-block">
                                                        @User.Identity.Name<small class="pt-1"></small>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-account"></i> My Profile
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-email"></i> Message
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("GeneralInformation", "Settings")"> <i class="mdi mdi-settings"></i> Account Settings </a>
                                                </li>
                                                @if (User.IsInRole("admin"))
                                                {
                                                    <li>
                                                        <a href="#"> <i class="mdi mdi-settings"></i>Administration</a>
                                                    </li>
                                                }
                                                <li class="dropdown-footer">
                                                    <form method="post" action="@Url.Action("LogOff", "Account")">
                                                        <button type="submit">
                                                            <i class="mdi mdi-logout"> </i>
                                                            Log Out
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="user-log">
                                    <a data-toggle="modal" data-target="#loginModal" id="LoginButton">
                                        Log in
                                    </a> /
                                    <a data-toggle="modal" data-target="#regModal" id="RegisterButton">
                                        Sign-up
                                    </a>
                                </div><!-- end .user-log -->
                            </div><!-- end .col-sm-4 -->
                        }
                        <div class="navbar-right">
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="google" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- end .col-sm-8 -->
                    </div><!-- end .row -->
                </section><!-- end .container -->
            </div><!-- end .top-menu -->
            <div class="main-baner">
                <div class="fullscreen background parallax clearfix" style="background-image:url('/img/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg');" data-img-width="1600" data-img-height="1064">
                    <div class="main-parallax-content">
                        <div class="second-parallax-content">
                            <section class="container">
                                <div class="row">
                                    <div class="main-header-container clearfix">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="logo">
                                                <h1>PAPUTKA</h1>
                                            </div><!-- end .logo -->
                                        </div><!-- end .col-sm-4 -->
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <nav id="nav" class="main-navigation">
                                                <ul class="navigation">
                                                    <li>
                                                        @Html.ActionLink("Home", "Index", "Home")
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Rides", "SelectRide", "SelectRide")
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Add Ride", "AddRide", "Ride")
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Contact", "contactpage", "Home")
                                                    </li>
                                                </ul>
                                            </nav><!-- end .main-navigation -->
                                        </div><!-- end .col-md-8 -->
                                    </div><!-- end .main-header-container -->
                                </div><!-- end .row -->
                            </section><!-- end .container -->
                        </div><!-- end .second-parallax-content -->
                    </div><!-- end .main-parallax-content -->
                </div><!-- end .background .parallax -->
            </div><!-- end .main-baner -->
        </header><!-- end .header -->
        @RenderBody()
        @{await Html.RenderPartialAsync("~/Views/Shared/_Footer.cshtml");}
    </div>
    @{await Html.RenderPartialAsync("~/Views/Home/_Login.cshtml");}
    @{await Html.RenderPartialAsync("~/Views/Home/_Register.cshtml");}
    <!-- Javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <!-- Main jQuery -->
    <script type="text/javascript" src="~/scripts/jquery.main.js"></script>
    <!-- Form -->
    <script type="text/javascript" src="~/scripts/jquery.idealforms.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.idealselect.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- Menu -->
    <script type="text/javascript" src="~/scripts/hoverIntent.js"></script>
    <script type="text/javascript" src="~/scripts/superfish.js"></script>
    <!-- Counter-Up  -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.counterup.min.js"></script>
    <!-- Rating  -->
    <script type="text/javascript" src="~/scripts/bootstrap-rating-input.min.js"></script>
    <!-- Slicknav  -->
    <script type="text/javascript" src="~/scripts/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/scripts/Account.js"></script>

</body>
</html>
